<div>
    <h1>Login</h1>
    <form id="loginForm">
        <label>Email</label>
        <input name="email">
        <br/>
        <label>Contraseña</label>
        <input name="password">
        <input type="submit">
    </form>
    <p>¿No estás registrado? <a href="/users/signup">Regístrate aquí</a></p>
<p>o puedes usar <a href="/github/login"> github!</a></p>
</div>


<script src="../login.js"></script>