.shop__container {
  display: flex;
  flex-flow: row wrap;

}

.shop__item {
  width: 15%;
  padding: 1%;
  margin: 1%;
  background-color: pink;
}

.tag{
  font-size:7pt;
  text-transform:uppercase;
}