// ----- IMPORTS ----- //
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

// ----- RESET ----- //
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.no-scroll{
  overflow-y: hidden;
}

// ----- ANIMATION ----- //
.animation {

  width: 100vw;
  height: 100vh;
  background: rgb(241, 216, 136) ;
background: radial-gradient(
  circle,
  rgb(241, 216, 136) 0%,
  rgba(255, 255, 255, 1) 100%
);
  &__color {
    position:absolute;
    width: 100vw;
    height: 100vh;
    background: rgb(181, 95, 255);
    background: radial-gradient(
      circle,
      rgba(181, 95, 255, 1) 0%,
      rgba(255, 255, 255, 1) 100%
    );
  }
  &__img {
    // background-image: url("../public/img/purple-jar.png");
    background-size: cover;
    width: 25vw;
    aspect-ratio: 1/1;
    position: relative;
    top: 37.5%;
    left: 37.5%;
    img{
      position:absolute;
      width: 100%;
    }
    &--initial {
      opacity:0;
    }
  }
  &__label {
    width: 67%; 
    height: 35%;
    margin-top: 40%;
    margin-left: 17%;
    overflow: hidden;
    position: absolute;
    img {
      height: 100%;
      width: auto;
      mix-blend-mode: multiply;
      opacity:1;
    }
  }
  &__text {
    position: absolute;
    bottom: 30vh;
    left: 10vw;
    width: 20vw;
    font-size: 0.9rem;
  }
  &__star {
    position: absolute;
    width: 4vh;
    top: 10vh;
    left: 30vw;
  }
  &__star2 {
    position: absolute;
    width: 7vh;
    right: 16vw;
    bottom: 40vh;
  }
  &__cloud {
    position: absolute;
    width: 15vh;
    top: 20vh;
    left: 15vw;
  }
  &__cloud2 {
    position: absolute;
    width: 15vh;
    bottom: 30vh;
    right: 20vw;
  }
}

// ----- HEADER ----- //
.header {
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  height: 10vh;
  display: flex;
  flex-flow: row wrap;
  z-index: 99;
  li {
    list-style-type: none;
  }
  ul {
    display: flex;
    flex-flow: row wrap;
  }
  a {
    color: black;
  }
}

// ----- MAIN ----- //
.main {
  overflow-x: hidden;
   &__container{
    width: 100vw;
    height: 100vh;
    background: rgb(241, 216, 136) ;
    background: radial-gradient(
      circle,
      rgb(241, 216, 136) 0%,
      rgba(255, 255, 255, 1) 100%
    );
   }
  &__img {
    background-image: url("../public/img/yellow-jar.png");
    background-size: cover;
    width: 25vw;
    aspect-ratio: 1/1;
    position: relative;
    top: 37.5%;
    left: 37.5%;
    display:flex;
    justify-content: center;
    &--01 {
      position: absolute;
      left: 20%;
      top: 20vh;
      width:1%;
    }
    &--02 {
      position: absolute;
      left: 10%;
      top: 25vh;
      width: 9%;
    }
    &--03 {
      position: absolute;
      left: 25%;
      top: 34vh;
      width: 4%;
    }
    &--04 {
      position: absolute;
      left: 23%;
      top: 45vh;
      width:1.5%;
    }
    &--05 {
      position: absolute;
      bottom: 20vh;
      right: 10vw;
      width: 8%
    }
    &--06 {
      position: absolute;
      bottom: 25vh;
      right: 7vw;
      width: 5%
    }
    &--07 {
      position: absolute;
      right: 10%;
      top: 40vh;
      width:1.5%;
    }
    &--08 {
      position: absolute;
      right: 20%;
      bottom: 30vh;
      width:2%;
    }
  }
  &__label {
    width: 67%; 
    height: 35%;
    margin-top: 40%;
    margin-left: 1%;
    overflow: hidden;
    position: absolute;
    img {
      height: 100%;
      width: auto;
      mix-blend-mode: multiply;
      opacity:1;
      transform: translateX(-59%)
    }
  }
  &__newin {
    height: 100vh;
  }
  &__login {
    margin-top: 5vh;
  }
}

.newin {
  background-color: red;
}

// ----- DETAIL ----- //
.detail {
  width: 100vw;
  display: flex;
  flex-flow: row wrap;
  &__info {
    width: 20%;
    background-color: pink;
  }
  &__img {
    width: 60%;
    background-color: red;
    img {width: 100%;}
  }
  &__desc {
    width: 20%;
    background-color: yellow;
  }
}

.shop__container {
  display: flex;
  flex-flow: row wrap;
}

.shop__item {
  width: 15.6%;
  padding: 1%;
  margin: 0.5%;
  background-color: pink;
}

.tag {
  font-size: 7pt;
  text-transform: uppercase;
}
